/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: rgb(5, 0, 0);;
  color: white;
}

/* Input Forms*/
input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #7e7baf;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #e1d7e9;
}
a {
  color: rgb(167, 99, 152);
  text-align: center;
  margin-right: 20px;
}
a:hover {
  color: #c41f71;
}
/* Header */
header {
  border-bottom: 2px solid rgb(22, 21, 22);
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: rgb(219, 203, 230);
}
header a {
  text-decoration: none;
  color: rgb(247, 243, 243);
  font-size: 40px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

p {
  color: rgb(228, 13, 13);
}

h1 {
  color: white;
}

h5 {
  font-size: 40px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

h6 {
  font-size: 50px;
  color: rgb(61, 51, 65);
}
